@@ -94,19 +94,13 @@
        display: block;
        top: 60%;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }
}


@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }
    .swiper {
        width: 50%;
    }
    .descrição__titulo {
        font-size: 32px;
    }
    .descrição__texto {
        font-size: 16px;
    }

    .descrição {
        margin-right: 2em;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }
}